@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1);
.counter-wrapper .counter,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.post-title {
    font-family: "Arial";
    font-weight: 400 !important;
    word-spacing: normal !important;
    letter-spacing: normal !important
}


  .carousel-item .bi-quote {
    color: blue;
  }

  .banner-img {
    background-image: url("../img/seller-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-banner {
    background-image: url("../assets/img/footer-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 100px;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

::before {
    box-sizing: border-box;
}

.slider-left {
    padding: 30px;
}

.slider-right {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
}

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.active {
    font-size: 12px;
    color: green;
    font-weight: normal;
    /* margin-left: 8px; */
}



.align-items-center {
    align-items: center!important;
}

div {
    display: block;
}

.img-fluid {
    border-radius: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.col {
    flex: 1 0 0%;
}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}}

.ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}

.ratio-16x9 {
    --bs-aspect-ratio: 56.25%;
}


@media screen and (max-width: 991px) {
  .mobile-center {
    text-align: center;
  }
  
  .hero-button {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  
}

